// @import "../../node_modules/slick-carousel/slick/slick";
@import "vars";
@import "libs";
@import "fonts";
@import "global";


/*********** Header ***********/
.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  padding: 48px 0;

  transition: all .5s;

  &.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 25px 0;

    background: $white;
    z-index: 999;
    box-shadow: 0 1px 30px rgba($lightBlack, .2);
  }

  &__inner {
    display: flex;
    align-items: center;
  }
  @media(max-width: 1050px) {
    &__inner {
      justify-content: space-between;
    }
  }
}

.menu {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;

  &__link {
    position: relative;
    margin: 0 25px;

    color: $black;
    text-decoration: none;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: calc(100% + 4px);
      height: 0;

      background: $black;
      opacity: 0;
      transition: all .3s;
    }

    &:hover::before {
      height: 3px;
      opacity: 1;
    }
  }
  @media(max-width: 1050px) {
    display: none;
  }
}

.header__login {
  &-link {
    position: relative;
    margin: 0 25px;

    color: $black;
    text-decoration: none;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: calc(100% + 4px);
      height: 0;

      background: $black;
      opacity: 0;
      transition: all .3s;
    }

    &:hover::before {
      height: 3px;
      opacity: 1;
    }

    &--singup {
      padding: 9px 21px;

      border: 1px solid $black;
      border-radius: 5px;
      transition: all .3s;

      &:before {
        display: none;
      }

      &:hover {
        background: $black;
        color: $white;
      }
    }
  }

  @media(max-width: 1050px) {
    display: none;
  }
}

.header__language {
  position: relative;

  &-select {
    display: none;
  }

  .select-options {
    display: none;
  }

  .select-styled {
    padding-right: 17px;
    position: relative;
    color: $black;
    font-size: 17px;
    line-height: 25px;
    cursor: pointer;

    &.active {
      &::before {
        transform: rotate(180deg);
      }
    }

    &::before {
      content: '';
      width: 10px;
      height: 6px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      background: url(../img/arrow-down.svg);
      transition: all .3s;
    }
  }

  .select-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    list-style: none;

    li {
      cursor: pointer;
    }
  }

  @media(max-width: 1050px) {
    display: none;
  }
}





/*********** Intro ***********/

.intro {
  margin-bottom: 95px;
  padding-top: 105px;
  background-image: url(../img/intro-bg.svg);
  background-repeat: no-repeat;
  background-position: top right;

  &__inner {
    display: flex;
    justify-content: space-between;
  }


}

.intro__content {
  width: 50%;
  padding-top: 115px;

  &-subtitle {
    margin-bottom: 24px;

    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #DF6951;
  }

  &-title {
    margin-bottom: 30px;

    font-weight: bold;
    font-size: 84px;
    line-height: 89px;
    letter-spacing: -0.04em;
    color: $black;
    font-family: $volkhov;

    &-span {
      display: inline-block;
      position: relative;

      &::after {
        content: '';
        width: 290px;
        height: 12px;
        background: url(../img/brush.svg) no-repeat;
        display: block;

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
      }
    }
  }

  &-text {
    margin-bottom: 34px;

    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: $lightBlack;
  }

  &-links {
    display: flex;

    &-item {
      &--more {
        margin-right: 44px;
        padding: 19px 22px 14px;

        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        color: $white;
        text-decoration: none;

        background: #F1A501;
        box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
        border-radius: 10px;

        transition: all .3s;

        &:hover {
          background: lighten(#F1A501, 15);
        }
      }

      &--play {
        display: flex;
        align-items: center;

        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        color: $lightBlack;
        text-decoration: none;

        img {
          margin-right: 20px;

          box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
          border-radius: 50%;
          transition: all .3s;
        }


        &:hover {
          img {
            transform: translateY(-15px);
          }
        }
      }
    }
  }
}







